.hm-container{
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: fit-content;
    
    
}
.info-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 122px;
    margin-bottom: 12px;
    column-gap: 12px;
}
.container-invitation{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5svh;
    background-color: aliceblue;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}
.invitation{
    font-size: 40px;
    color: rgb(95, 180, 255);
}

@media screen and (max-width:480px) {
    .info-card{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        margin-bottom: 30px;

    }
    .invitation{
        font-size: 20px;
    }
}